.hero-container
  .container
    %h1 The Good Samaritan Foundation
    %h2 A clever tagline that helps people understand

%main
  .home-section
    .container
      %h3 What we do

  .home-section.dark
    .container
      %h3 How to get involved

  .home-section
    .container
      %h3 Get in touch
