.hero-container
  .container
    %h1 The Good Samaritan Foundation, Salt Lake City, Utah
    %h2 When a little help can make all the difference

%main
  .home-section
    .container
      %h3#what-we-do What we do
      %p The Good Samaritan Foundation was founded in 2008 in order to assist those less fortunate. Located in Salt Lake City, Utah, much of time and money is focused on The Refugee and Immigrant Center at the Asian Association of Utah.  Salt Lake City has over 60,000 refugees. A resettlement agency covers their first six to nine months of living expenses, and then the Asian Association picks up after that.

      %ul.collection.with-header
        %li.collection-header
          %h4 We have opened centers in areas where many refugees live and have provided services including:
        %li.collection-item English as a Second Language training
        %li.collection-item Housing assistance
        %li.collection-item Employment counseling
        %li.collection-item Counseling and therapy
        %li.collection-item Youth programs
        %li.collection-item Interpreting services
        %li.collection-item Daycare
        %li.collection-item Homework help for kids
        %li.collection-item Hot meals for kids

      %p
        %span Another area of focus is providing these services where refugees live – in their neighborhood. A good example is the
        %strong Sunnyvale Neighborhood Center
        %span located in Salt Lake City.

  .home-section.dark
    .container
      %h3#get-involved How to get involved
      .row
        .col.m6.sl2
          %h5 Volunteer
          %p Do you live in or near Salt Lake City? We need all the help we can get for various projects and events all of the time. Give us a call to find out how you can help!

        .col.m6.sl2
          %h5 Donate
          %p If you don't live in the area, or can't fit us into your schedule, a donation could be a great way to help out. By no means do we solicit donations for our own profit, but many refugees as much help as possible.


  .home-section
    .container
      %h3#get-in-touch Get in touch
      .row
        .col.m6.sl2
          %h5 Asian Association of Utah
          %strong Website:
          = link_to 'aau-slc.org', 'http://aau-slc.org/', target: '_blank'
          %br
          %strong Phone:
          = link_to '801.467.6060', 'tel:+18014676060'

        .col.m6.sl2
          %h5 Good Samaritan Foundation
          %strong Website:
          %span You're already here!
          %br
          %strong Phone:
          = link_to '801.453.2251', 'tel:+18014532251'

        .col.m6.s12
          %h5 Sunnyvale Neighborhood Center
          %strong Phone:
          = link_to '801.590.9746', 'tel:+18015909746'
          %br
          %strong Address:
          %span 585 West 3900 South #2
          %br
          %span Salt Lake City, UT 84123
          %br
          %strong Walk-In Hours
          %span Mon-Thurs, 9:00 AM – 3:00 PM
