.hero-container
  .container
    %h1 The Good Samaritan Foundation
    %h2 A clever tagline that helps people understand

%main
  .home-section
    .container
      %h3#what-we-do What we do
      %p The Good Samaritan Foundation was founded in 2008 in order to assist those less fortunate. Located in Salt Lake City, Utah, much of time and money is focused on The Refugee and Immigrant Center at the Asian Association of Utah.  Salt Lake City has over 60,000 refugees. A resettlement agency covers their first six to nine months of living expenses, and then the Asian Association picks up after that.

      %ul.collection.with-header
        %li.collection-header
          %h4 We have opened centers in areas where many refugees live and have provided services including:
        %li.collection-item English as a Second Language training
        %li.collection-item Housing assistance
        %li.collection-item Employment counseling
        %li.collection-item Counseling and therapy
        %li.collection-item Youth programs
        %li.collection-item Interpreting services
        %li.collection-item Daycare
        %li.collection-item Homework help for kids
        %li.collection-item Hot meals for kids

      %p
        %span Another area of focus is providing these services where refugees live – in their neighborhood. A good example is the
        %strong Sunnyvale Neighborhood Center
        %span located in Salt Lake City.

  .home-section.dark
    .container
      %h3#get-involved How to get involved

  .home-section
    .container
      %h3#get-in-touch Get in touch
      %p Founder James H. Woodward
      %p Founder Thomas M. Lloyd

