$primary: #F44336;
$primary-dark: #D32F2F;

$darker: #222226;
$dark: #3C3C42;
$mid: #97979F;
$light: #AFAFB9;
$lighter: #BBBBC6;

$primary-color: $primary;
$primary-color-light: lighten($primary-color, 15%) !default;
$primary-color-dark: darken($primary-color, 15%) !default;

$secondary-color: $primary;
$success-color: color("green", "base") !default;
$error-color: color("red", "base") !default;
$link-color: $primary;

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
@import "materialize";
@import "animate";
@import "font-awesome";
@import "navigation";
@import "static";

html, body {
  color: $mid;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 300;
}

.love {
  color: $primary;
  font-weight: 800;
}

footer {
  margin: 10px 0;
}
